<!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Appartaments</h1>
        <p class="lead">Manten el control de tus alquileres</p>
        <p>lleva el manejo de todos tus apartamentos y edificios. Genera contratos de alquiler, recibe notificaciones en tu movil para que no se retrase el cobro de tus alquileres en ningun momento.</p>
      </div>
	</section>
